@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.menu{
    height: 100px;
    background-color: #472ccc;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    font-size: 1.7rem;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    transition: 0.3s;
}
.menu li:hover{
    background-color: #3a24a5;
    transition: 0.3s;
}
