.menu{
    height: 88px;
    width: 100%;

    background-color: crimson;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
button{
    height: 48px;
    width: 164px;
    background-color: #ae1130;
    border-radius: 15px;

    font-size: 1.3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    color: #dadee3;

    transition: 0.3s;
}
.headerAndPaginationButton:hover{
    background-color: #d3c8ca;
    color: #ae1130;
}