.FamilyMember{
    padding: 50px;
    border-radius: 20px;
    box-shadow: 4px 3px 13px 0 rgba(184,184,184,1);

    display: flex;
    gap: 60px;
    align-items: center;
}
.FamilyMember img{
    width: 200px;
}
.FamilyMember-info{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name{
    font-size: 1.7rem;
}
.age{
    font-size: 1.3rem;
}