#coursesAndDurationList{
    margin: 45px;
    padding: 25px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 4px 3px 13px 0 rgba(184,184,184,1);

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.course{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}