@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.link{
    background-color: #472ccc;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    margin: 20px auto;
}
h1{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #472ccc;
    font-size: 1.7rem;
    margin: 20px auto;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
}

.link-result{
    margin: 50px auto;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #472ccc;
    font-size: 1.7rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
}