/*@import "tailwindcss";*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    border: none;
    list-style: none;
}

[data-theme="light"] {
    --bg: #fff;
    --header-bg: #df173f;
    --button-bg: #970724;
    --error-input-color: #df173f;
    --pagination-text-color: #000000;
}

[data-theme="dark"] {
    --bg: #171717;
    --card-bg: #970724;
    --color: #fff;
    --header-bg: #670619;
    --button-bg: #930521;
    --error-input-color: #fff;
    --pagination-text-color: #fff;
}

body {
    margin-top: 88px;
    background-color: var(--bg);
    transition: background-color 0.3s;
}

